Repository beefchimi/template-vite-react, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧰 Dependency, 📚 Documentation, ⚖️ Legal, 🧪 Testing, 🛠️ Tooling

.github/labeler.yml:

🧰 Dependency:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

📚 Documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**']

⚖️ Legal:
  - changed-files:
      - any-glob-to-any-file: 'LICENSE'

🧪 Testing:
  - changed-files:
      - any-glob-to-any-file: '**/*.test.ts'

🛠️ Tooling:
  - changed-files:
      - any-glob-to-any-file:
          [
            '.github/**',
            '.vscode/**',
            '.editorconfig',
            '.*ignore',
            '.nvmrc',
            '.prettier*',
            'config/**',
            '*.config.*',
            'package*.json',
            'tsconfig*.json',
          ]

:sparkles: [Scripts] Add label sync script
  package-lock.json
  scripts/gh-label-sync.sh
Labels: 🧰 Dependency, 🛠️ Tooling

:bug: [LightningCss] Find a solution to global keyframes
  README.md
  src/components/primitives/Spinner/Spinner.module.css
  src/components/primitives/Spinner/Spinner.tsx
  src/components/primitives/YouTubeEmbed/YouTubeEmbed.module.css
  src/components/sections/Footer/Footer.module.css
  src/components/sections/Header/Header.module.css
  src/components/sections/Main/Main.module.css
  src/components/ui/Accordion/Accordion.module.css
  src/styles/keyframes.css
Labels: 📚 Documentation

:recycle: [Scripts] Update source repo
  scripts/gh-label-sync.sh
Labels: none

:arrow_up: [Dependency] Minor bumps
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:recycle: [Code] Various revisions
  package-lock.json
  package.json
  packages/classes/TypedStorage.ts
  packages/classes/index.ts
  packages/hooks/index.ts
  packages/hooks/useLocalStorage.ts
  packages/hooks/useMediaQuery.ts
  src/App.tsx
  src/components/primitives/Overlay/Overlay.module.css
  src/components/primitives/Spinner/Spinner.module.css
  src/components/primitives/YouTubeEmbed/YouTubeEmbed.module.css
  src/components/sections/Footer/Footer.module.css
  src/components/sections/Footer/Footer.tsx
  src/components/sections/Footer/parts/ActionsDemo.module.css
  src/components/sections/Footer/parts/ActionsDemo.tsx
  src/components/sections/Footer/parts/SocialLinks.module.css
  src/components/sections/Footer/parts/SocialLinks.tsx
  src/components/sections/Header/Header.module.css
  src/components/sections/Header/Header.tsx
  src/components/sections/Main/Main.module.css
  src/components/sections/Main/Main.tsx
  src/components/ui/Accordion/Accordion.module.css
  src/components/ui/Accordion/Accordion.test.data.ts
  src/components/ui/Accordion/Accordion.test.tsx
  src/components/ui/Accordion/AccordionList.module.css
  src/components/ui/Button/Button.module.css
  src/components/ui/Button/Button.test.tsx
  src/components/ui/Button/Button.tsx
  src/components/ui/DisplayText/DisplayText.tsx
  src/components/ui/TextLink/TextLink.module.css
  src/hooks/media-queries/breakpoints.ts
  src/hooks/media-queries/useBreakpoint.ts
  src/hooks/media-queries/useMinMedia.ts
  src/hooks/useInterval.ts
  src/providers/BreakpointProvider.tsx
  src/providers/ThemeProvider.tsx
  src/styles/design-system.css
  src/styles/global.css
  src/utilities/json.ts
Labels: 🧰 Dependency, 🛠️ Tooling

:recycle: [Demo] Add some demo UI
  src/App.module.css
  src/App.tsx
Labels: none

♻️ [Code] Various revisions (#1)
  package-lock.json
  package.json
  packages/classes/TypedStorage.ts
  packages/classes/index.ts
  packages/hooks/index.ts
  packages/hooks/useLocalStorage.ts
  packages/hooks/useMediaQuery.ts
  src/App.module.css
  src/App.tsx
  src/components/primitives/Overlay/Overlay.module.css
  src/components/primitives/Spinner/Spinner.module.css
  src/components/primitives/YouTubeEmbed/YouTubeEmbed.module.css
  src/components/sections/Footer/Footer.module.css
  src/components/sections/Footer/Footer.tsx
  src/components/sections/Footer/parts/ActionsDemo.module.css
  src/components/sections/Footer/parts/ActionsDemo.tsx
  src/components/sections/Footer/parts/SocialLinks.module.css
  src/components/sections/Footer/parts/SocialLinks.tsx
  src/components/sections/Header/Header.module.css
  src/components/sections/Header/Header.tsx
  src/components/sections/Main/Main.module.css
  src/components/sections/Main/Main.tsx
  src/components/ui/Accordion/Accordion.module.css
  src/components/ui/Accordion/Accordion.test.data.ts
  src/components/ui/Accordion/Accordion.test.tsx
  src/components/ui/Accordion/AccordionList.module.css
  src/components/ui/Button/Button.module.css
  src/components/ui/Button/Button.test.tsx
  src/components/ui/Button/Button.tsx
  src/components/ui/DisplayText/DisplayText.tsx
  src/components/ui/TextLink/TextLink.module.css
  src/hooks/media-queries/breakpoints.ts
  src/hooks/media-queries/useBreakpoint.ts
  src/hooks/media-queries/useMinMedia.ts
  src/hooks/useInterval.ts
  src/providers/BreakpointProvider.tsx
  src/providers/ThemeProvider.tsx
  src/styles/design-system.css
  src/styles/global.css
  src/utilities/json.ts
Labels: 🧰 Dependency, 🛠️ Tooling

:truck: [Components] Rename files with test suffix
  src/components/ui/Accordion/AccordionTest.data.ts
  src/components/ui/Accordion/AccordionTest.tsx
  src/components/ui/Button/ButtonTest.tsx
Labels: none

:recycle: [Components] Update renamed file imports
  src/App.tsx
  src/components/ui/Accordion/AccordionTest.tsx
Labels: none

:toolbox: [Vitest] Install and configure
  config/definitions/audio.d.ts
  config/tests-setup.ts
  package-lock.json
  package.json
  src/App.test.tsx
  tsconfig.node.json
  vitest.config.ts
Labels: 🧰 Dependency, 🛠️ Tooling

🛠️ [Vitest] Install and configure (#2)
  config/definitions/audio.d.ts
  config/tests-setup.ts
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/ui/Accordion/AccordionTest.data.ts
  src/components/ui/Accordion/AccordionTest.tsx
  src/components/ui/Button/ButtonTest.tsx
  tsconfig.node.json
  vitest.config.ts
Labels: 🧰 Dependency, 🛠️ Tooling
